@charset "UTF-8";

/* Portrait-long */
@media screen and (max-aspect-ratio: 2/3) {
    html {
        font-size: 1.67vw
    }
}

/* Portrait */
@media screen and (min-aspect-ratio: 2/3) and (orientation: portrait) {
    html {
        font-size: 1.11vh
    }
}

/* Landscape */
@media screen and (orientation: landscape) and (max-aspect-ratio: 3/2) {
    html {
        font-size: 1vw
    }
}

/* Landscape-long */
@media screen and (min-aspect-ratio: 3/2) {
    html {
        font-size: 1.5vh
    }
}

/* Portrait-long & Portrait (max-width: 600px) */
@media screen and (orientation: portrait) and (max-width: 600px) {
    body {
        font-weight: 300;
    }
}

/* Portrait-long & Portrait (min-width: 600px) */
@media screen and (orientation: portrait) and (min-width: 600px) {
    body {
        font-weight: 100;
    }
}

/* Portrait-long & Portrait */
@media screen and (orientation: portrait) {
    body {
        font-size: 4rem;
    }

    #box {
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        width: 50rem;
        height: 75rem;
    }

    #listbox {
        height: 25rem;
        padding: 1rem 0 0 0;
        text-align: left;
        line-height: 6rem;
        opacity: 0;
        margin: 0;
    }

    #Student {
        margin: -1rem 0 0 8rem;
        /* 8[rem] = 2 + 4 + 2 */
    }

    .listbox-icons-img {
        margin: 0 2rem 0 2rem;
        transform: translateY(.4rem);
        width: 4rem;
        height: 4rem;
    }

    #email-popup {
        font-size: 3rem;
    }

    #email-icon-in-popup {
        height: 3rem;
        transform: translateY(.5rem);
    }

    .landscape-only {
        display: none !important;
    }
}

/* Landscape & Landscape-long */
@media screen and (orientation: landscape) {
    body {
        font-size: 2.67rem;
        font-weight: 100;
    }

    #box {
        width: 84rem;
        height: 54rem;
        flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        justify-content: center;
        -webkit-justify-content: center;
    }

    #list-and-topicon-box {
        width: 30rem;
        padding-right: 0.5rem;
        transform: translateY(-1.5rem);
        display: flex;
        -webkit-display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }

    #topicon-landscape-div {
        padding-bottom: 1rem;
    }

    #topicon-landscape-img {
        border-radius: 50%;
        border: #fff solid .1px; /* For IE11 */
        background-color: #fff;
        height: 25rem;
        width: 25rem;
        padding: 1.67rem;
        margin: auto;
    }

    #listbox {
        text-align: left;
        line-height: 4.25rem;
        opacity: 0;
        margin: 0;
    }

    #Student {
        margin: -.67rem 0 0 5.33rem;
        /* 5.33[rem] = (2 + 4 + 2) * (2 / 3) */
    }

    .listbox-icons-img {
        margin: 0 1.33rem 0 1.33rem;
        transform: translateY(.27rem);
        width: 2.67rem;
        height: 2.67rem;
    }

    #email-icon-in-popup {
        height: 4rem;
        transform: translateY(.65rem);
    }

    .portrait-only {
        display: none !important;
    }

    #iconsbox {
        transform: translateY(1.25rem);
    }

    #posemail {
        left: 3rem; /* 0+3 */
        top: 3rem; /* -0+3 */
    }

    .background-circle {
        position: absolute;
        border-radius: 50%;
        opacity: 0;
    }

    #background-circle-1 {
        width: 13.5rem;
        height: 13.5rem;
        left: .75rem; /* 15 / 2 - 13.5 / 2 */
        top: .75rem;
        background-color: #e8f3e1;
        z-index: 2;
    }

    #background-circle-2 {
        width: 18rem;
        height: 18rem;
        left: -1.5rem;/* 15 / 2 - 18 / 2 */
        top: -1.5rem;
        background-color: #f6fbf3;
        z-index: 1;
    }

    #email-popup {
        font-size: 4rem;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    background-color: #eee;
    color: #444;
    font-family: 'Roboto', sans-serif;
}

b {
    font-weight: 700;
}

.animate {
    display: none;
    -webkit-animation: zoomIn .6s;
    -moz-animation: zoomIn .6s;
    animation: zoomIn .6s;
}

#box {
    display: flex;
    -webkit-display: flex;
    align-items: center;
    -webkit-align-items: center;
    background-color: #fff;
    padding: 2.5rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem 0 rgba(0,0,0,.14), 0 .25rem 1.25rem 0 rgba(0,0,0,.12), 0 .75rem .25rem -.5rem rgba(0,0,0,.2);
}

#iconsbox {
    position: relative;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
}

#pos-topicon {
    left: 12rem; /* 39/2-15/2 */
    top: 12rem; /* 39/2-15/2 */
    position: relative;
    width: 15rem;
    height: 15rem;
}

#topicon {
    border-radius: 50%;
    border: #fff solid .1px; /* For IE11 */
    background-color: #fff;
    height: 15rem;
    width: 15rem;
    padding: 1rem;
    margin: auto;
}

.btn-icons-a {
    width: 9rem !important;
    height: 9rem !important;
    position: absolute;
    z-index: 3;
}

.btn-icons-a-fade-in {
    opacity: 0;
}

.btn-icons-img {
    position: absolute !important;
    left: 2rem; /* 9/2-5/2 */
    top: 2rem;
    width: 5rem;
    height: 5rem;
}

#github-icon-img {
    position: absolute !important;
    left: 1.5rem; /* 9/2-6/2 */
    top: 1.5rem;
    width: 6rem;
    height: 6rem;
}

#posgithub {
    left: 7.64rem; /* 15*cos(4*2*pi/5)+3 */
    top: 17.27rem; /* -15*sin(4*2*pi/5)+3 */
}

#postwitter {
    left: 18rem; /* 15+3 */
    top: 3rem; /* -0+3 */
}

#poskeybase {
    left: 7.63rem; /* 15*cos(2*pi/5)+3 */
    top: -11.26rem; /* -15*sin(2*pi/5)+3 */
}

#posflickr {
    left: -9.13rem; /* 15*cos(2*2*pi/5)+3 */
    top: -5.81rem; /* -15*sin(2*2*pi/5)+3 */
}

#posmastodon {
    left: -9.13rem; /* 15*cos(3*2*pi/5)+3 */
    top: 11.81rem; /* -15*sin(3*2*pi/5)+3 */
}

@media screen and (orientation: portrait) and (min-width: 950px) {
    .modal {
        width: 85vw;
    }
}

#email-icon-span {
    margin: 0 3rem 0 1rem;
}

#email-icon-in-popup {
    width: auto;
}
