@charset "UTF-8";

html, body {
    background-color: #eeeeee;
}

html, body, #flex {
    height: 100vh;
}

#flex {
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    align-items: center;
}

#pos {
    position: relative;
}

#topicon {
    border-radius: 50%;
    border: #ffffff solid 0.1px; /* For IE11 */
    background-color: #ffffff;
    height: 30vmin;
    width: 30vmin;
    padding: 2vmin;
    margin: auto;
    -webkit-animation: zoomIn 0.6s;
    -moz-animation: zoomIn 0.6s;
    animation: zoomIn 0.6s;
    position: relative;
    z-index: 2;
}

.btn-icons-a {
    width: 18vmin !important;
    height: 18vmin !important;
}

.btn-icons-img {
    position: absolute !important;
    left: 4vmin; /* 18/2-10/2 */
    top: 4vmin;
    width: 10vmin;
    height: 10vmin;
}

#keybase-icon-img {
    position: absolute !important;
    left: 2vmin; /* 18/2-14/2 */
    top: 2vmin;
    width: 14vmin;
    height: 14vmin;
}

#posgithub {
    position: absolute;
    left: 15.27vmin; /* 30*cos(4*2*pi/5)+6 */
    top: 34.53vmin; /* -30*sin(4*2*pi/5)+6 */
    opacity: 0;
}

#postwitter {
    position: absolute;
    left: 36vmin; /* 30+6 */
    top: 6vmin; /* -0+6 */
    opacity: 0;
}

#poskeybase {
    position: absolute;
    left: 15.27vmin; /* 30*cos(2*pi/5)+6 */
    top: -22.53vmin; /* -30*sin(2*pi/5)+6 */
    opacity: 0;
}

#possoundcloud {
    position: absolute;
    left: -18.27vmin; /* 30*cos(2*2*pi/5)+6 */
    top: -11.63vmin; /* -30*sin(2*2*pi/5)+6 */
    opacity: 0;
}

#posemail {
    position: absolute;
    left: -18.27vmin; /* 30*cos(3*2*pi/5)+6 */
    top: 23.63vmin; /* -30*sin(3*2*pi/5)+6 */
    opacity: 0;
}

#email-icon-in-popup {
    height: 1.40rem;
    width: auto;
}
